.emailRow {
	display: flex;
	align-items: center;
	height: 50px;
	border-bottom: 1px solid whitesmoke;
	cursor: pointer;
	z-index: 999;
}

.emailRow__options {
}

.emailRow__title {
}

.emailRow__message {
}

.emailRow__description {
}
